.Counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px slategray solid;
    border-style: solid;
    width: 300px;



}
.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 500px;
    padding: 10px;
    border: 1px slategray solid;
    margin-top: 30px;
    margin-left: 50%;
    margin-right: 50%;
    
    
    
}